asttokens
attrs
blinker
Bottleneck
click
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fastjsonschema
Flask
fonttools
importlib_metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service
nbformat
nest_asyncio
numexpr
numpy
packaging
pandas
parso
pickleshare
pillow
pip
platformdirs
plotly
ply
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
PyQt5
PyQt5-sip
python-dateutil
pytz
pywin32
pyzmq
referencing
rpds-py
setuptools
sip
six
stack-data
tenacity
tornado
traitlets
typing_extensions
tzdata
unicodedata2
wcwidth
Werkzeug
wheel
zipp